<mat-card class="card" *ngIf="constitutionPreamble$ | async as constitutionPreamble;">
        <mat-card-header class="center">
            <div mat-card-avatar></div>
              <mat-card-title>
                <h1 class="title" [matTooltip]="foundation" matTooltipPosition="after">
                  {{ constitutionPreamble.title }}
                </h1>
              </mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img routerLink="/constitution" class="cp" mat-card-image src="../../assets/images/{{constitutionPreamble.imageUrl}}"
              alt="Grundgesetz Buch Bild">
          <mat-card-content>
            <p class="content">
              {{ constitutionPreamble.german }}
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
</mat-card>
