<div style="text-align:center">
  <h1>
    Willkommen zu unseren {{title}}!
  </h1>
  <br>
    <h2>Während des G20 Gipfels in Hamburg haben inländische und ausländische Terroristen versucht den Ruf unseres Landes zu schaden.</h2>
  <br>
    <img src="{{ mostWantedBKA }}">
</div>
<br>
<h2>Hier können Sie uns helfen bei den Festnahmen:</h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://www.bka.de/DE/IhreSicherheit/Fahndungen/Personen/UnbekanntePersonen/Ausschreitungen_G20Hamburg/Sachverhalt.html">BKA</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://www.polizei.hamburg/">Polizei HAMBURG</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://www.berlin.de/polizei/">Polizei BERLIN</a></h2>
  </li>
</ul>

