.card {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.mat-card-header {
  justify-content: center;
}

.mat-card-subtitle {
  text-align: center;
}

.mat-card-footer {
  margin: 0;
}

.center {
  text-align: center;
}

.actions {
  margin-left: 20%;
}

img {
  height: 510px;
  width: 510px;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

@media only screen and (max-width: 992px) {
  .card {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 435px) {
  .card {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .card {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .card {
    margin-top: 1rem;
  }
}
